# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Create a District Summary
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [3]:
# Total number of schools
total_num_school = school_data['school_name'].count()
total_num_school

15

In [4]:
# Total number of students
total_num_stud = student_data['student_name'].count()
total_num_stud

39170

In [5]:
# Total budget
total_budget = school_data_complete['budget'].sum()
total_budget

82932329558

In [6]:
# Average math score
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [7]:
# Average reading score
avg_reading_score = school_data_complete['reading_score'].mean()
avg_reading_score

81.87784018381414

In [8]:
# Overall average score
avg_score = (school_data_complete['math_score'].mean() + 
             school_data_complete['reading_score'].mean())/2 
avg_score

80.43160582078121

In [35]:
school_data_complete.set_index('student_name')

Student ID                       1
gender                           M
grade                         12th
school_name      Huang High School
reading_score                   94
math_score                      61
School ID                        0
type                      District
size                          2917
budget                     1910635
Name: Victor Smith, dtype: object

In [20]:
# Percentage of passing math (70 or greater)
passing_math = school_data_complete.loc[(school_data_complete["math_score"] > 70)].math_score.count() / school_data_complete.shape[0]
passing_math

# school_data_complete.groupby('math_score').apply(lambda x: (x['math_score'] >= 70)).sum() / len(school_data_complete)

# percentage_passing_math = (school_data_complete['math_score'] >= 70)

0.7239213683941792

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [10]:
#  Sort and display the top five schools in overall passing rate
# top_five = school_data_complete.groupby('avg_score').sort_values()
# top_five.head(5)

group_schools = school_data_complete.groupby(['school_name'])
average_grouped_reading_score = group_schools['reading_score'].mean().values
average_grouped_math_score = group_schools['math_score'].mean().values

math_passing = school_data_complete.loc[(school_data_complete["math_score"] > 70)]
read_passing = school_data_complete.loc[(school_data_complete["reading_score"] > 70)]

school_summary = school_data.sort_values("school_name")
school_size = school_summary["size"]
school_summary["math_pass"] = (math_passing.groupby(["school_name"]).count()["Student ID"].values / school_size)
school_summary["reading_pass"] = (read_passing.groupby(["school_name"]).count()["Student ID"].values / school_size)
school_summary["overall_passing_rate"] = ((school_summary["math_pass"]+school_summary["reading_pass"])/2).astype(float).map('{:,.2%}'.format)



# overall_passing_rate = 

top_five = school_summary.sort_values("overall_passing_rate",ascending=False)
top_five.head()
# top_five.head()

,School ID,school_name,type,size,budget,math_pass,reading_pass,overall_passing_rate
5,5,Wilson High School,Charter,2283,1319574,0.909330,0.932545,92.09%
9,9,Pena High School,Charter,962,585858,0.916840,0.922037,91.94%
10,10,Wright High School,Charter,1800,1049400,0.902778,0.934444,91.86%
6,6,Cabrera High School,Charter,1858,1081356,0.895587,0.938644,91.71%
8,8,Holden High School,Charter,427,248087,0.906323,0.927400,91.69%

In [36]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [46]:
# Calculate total school budget
school_data_complete.groupby('school_name').first()['budget'].sum()

24649428

In [53]:
# Calculate per student budget
(
    school_data_complete.groupby('school_name').first()['budget'] /
    school_data_complete.groupby('school_name').count()['student_name']
)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [57]:
# Cacluate the avg math and reading score
(np.average(school_data_complete['math_score']), np.average(school_data_complete['reading_score']))

(78.98537145774827, 81.87784018381414)

#### Find the passing rate for math and reading (above 70 points)

In [63]:
school_data_complete[school_data_complete['math_score'] > 70]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [73]:
school_data_complete['math_score']

0        79
1        61
2        60
3        58
4        84
         ..
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64

In [76]:
# Find the total counts of math result
school_data_complete.shape[0]

# Find the counts for math result in each school that pass 70 or higher
school_data_complete[school_data_complete['math_score'] > 70].shape[0]

# Calculate the math passing rate
(school_data_complete[school_data_complete['math_score'] > 70].shape[0] / school_data_complete.shape[0])

0.7239213683941792

In [77]:
# Find the total counts of read result
school_data_complete.shape[0]

# Find the counts for read result in each school that pass 70 or higher
school_data_complete[school_data_complete['reading_score'] > 70].shape[0]

# Calculate the read passing rate
(school_data_complete[school_data_complete['reading_score'] > 70].shape[0] / school_data_complete.shape[0])

0.8297166198621394

In [85]:
# Calculate the overall passing rate (average of the math and reading passing rate)
school_data_complete['total_score'] = (school_data_complete['math_score']+school_data_complete['reading_score'])/2
(school_data_complete[school_data_complete['total_score'] > 70].shape[0] / school_data_complete.shape[0])

0.8823334184324738

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [87]:
#  Sort and display the worst five schools in overall passing rate
top_five = school_summary.sort_values("overall_passing_rate",ascending=True)
top_five.head()

,School ID,school_name,type,size,budget,math_pass,reading_pass,overall_passing_rate
7,7,Bailey High School,District,4976,3124928,0.333199,0.180667,25.69%
3,3,Hernandez High School,District,4635,3022020,0.332470,0.191370,26.19%
13,13,Ford High School,District,2739,1763916,0.316904,0.207010,26.20%
12,12,Johnson High School,District,4761,3094650,0.339424,0.187776,26.36%
0,0,Huang High School,District,2917,1910635,0.343161,0.186836,26.50%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [97]:
# Create table that lists the average math score for each school of each grade level.
dog = school_data_complete.groupby(['grade', 'school_name']).agg(np.mean)

dog

                               Student ID  reading_score  math_score  \
grade school_name
10th  Bailey High School     20365.058918      80.907183   76.996772
      Cabrera High School    16909.487124      84.253219   83.154506
      Figueroa High School    4332.703801      81.408912   76.539974
      Ford High School       36122.879944      81.262712   77.672316
      Griffin High School    12983.711823      83.706897   84.229064
      Hernandez High School   9930.783211      80.660147   77.337408
      Holden High School     23076.342105      83.324561   83.429825
      Huang High School       1450.796610      81.512386   75.908735
      Johnson High School    32467.993480      80.773431   76.691117
      Pena High School       23769.208000      83.612000   83.372000
      Rodriguez High School  28050.171154      80.629808   76.612500
      Shelton High School     6748.301339      83.441964   82.917411
      Thomas High School     38346.368171      84.254157   83.087886
      Wilson High School     14884.930693      84.021452   83.724422
      Wright High School     25122.296296      83.812757   84.010288
11th  Bailey High School     20345.148681      80.945643   77.515588
      Cabrera High School    16955.047718      83.788382   82.765560
      Figueroa High School    4424.478138      80.640339   76.884344
      Ford High School       36212.534143      80.403642   76.918058
      Griffin High School    12983.038781      84.288089   83.842105
      Hernandez High School   9948.641544      81.396140   77.136029
      Holden High School     23046.883495      83.815534   85.000000
      Huang High School       1458.094313      81.417476   76.446602
      Johnson High School    32378.549249      80.616027   77.491653
      Pena High School       23742.605469      84.335938   84.328125
      Rodriguez High School  28048.515905      80.864811   76.395626
      Shelton High School     6742.453883      84.373786   83.383495
      Thomas High School     38345.636145      83.585542   83.498795
      Wilson High School     14855.539232      83.764608   83.195326
      Wright High School     25147.331034      84.156322   83.836782
12th  Bailey High School     20386.724708      80.912451   76.492218
      Cabrera High School    16924.570681      84.287958   83.277487
      Figueroa High School    4414.922705      81.384863   77.151369
      Ford High School       36153.562152      80.662338   76.179963
      Griffin High School    12977.143836      84.013699   83.356164
      Hernandez High School   9978.563966      80.857143   77.186567
      Holden High School     23041.108434      84.698795   82.855422
      Huang High School       1485.035897      80.305983   77.225641
      Johnson High School    32414.657051      81.227564   76.863248
      Pena High School       23733.342541      84.591160   84.121547
      Rodriguez High School  28023.722433      80.376426   77.690748
      Shelton High School     6740.566038      82.781671   83.778976
      Thomas High School     38360.289941      83.831361   83.497041
      Wilson High School     14860.597315      84.317673   83.035794
      Wright High School     25115.626016      84.073171   83.644986
9th   Bailey High School     20344.481481      81.303155   77.083676
      Cabrera High School    16969.634470      83.676136   83.094697
      Figueroa High School    4397.878505      81.198598   76.403037
      Ford High School       36170.595438      80.632653   77.361345
      Griffin High School    13031.305623      83.369193   82.044010
      Hernandez High School   9928.620839      80.866860   77.438495
      Holden High School     23068.314961      83.677165   83.787402
      Huang High School       1445.726303      81.290284   77.027251
      Johnson High School    32399.975714      81.260714   77.187857
      Pena High School       23766.127273      83.807273   83.625455
      Rodriguez High School  28017.408076      80.993127   76.859966
      Shelton High School     6750.615094      84.122642   83.420755
      Thomas High School     38356.793926      83.728850   83.590022
      Wilson High School     14879.667195      83.939778   83.085578
      Wright High School     25152.370588      83.833333   83.264706

                             School ID    size     budget  total_score
grade school_name
10th  Bailey High School           7.0  4976.0  3124928.0    78.951977
      Cabrera High School          6.0  1858.0  1081356.0    83.703863
      Figueroa High School         1.0  2949.0  1884411.0    78.974443
      Ford High School            13.0  2739.0  1763916.0    79.467514
      Griffin High School          4.0  1468.0   917500.0    83.967980
      Hernandez High School        3.0  4635.0  3022020.0    78.998778
      Holden High School           8.0   427.0   248087.0    83.377193
      Huang High School            0.0  2917.0  1910635.0    78.710561
      Johnson High School         12.0  4761.0  3094650.0    78.732274
      Pena High School             9.0   962.0   585858.0    83.492000
      Rodriguez High School       11.0  3999.0  2547363.0    78.621154
      Shelton High School          2.0  1761.0  1056600.0    83.179688
      Thomas High School          14.0  1635.0  1043130.0    83.671021
      Wilson High School           5.0  2283.0  1319574.0    83.872937
      Wright High School          10.0  1800.0  1049400.0    83.911523
11th  Bailey High School           7.0  4976.0  3124928.0    79.230616
      Cabrera High School          6.0  1858.0  1081356.0    83.276971
      Figueroa High School         1.0  2949.0  1884411.0    78.762341
      Ford High School            13.0  2739.0  1763916.0    78.660850
      Griffin High School          4.0  1468.0   917500.0    84.065097
      Hernandez High School        3.0  4635.0  3022020.0    79.266085
      Holden High School           8.0   427.0   248087.0    84.407767
      Huang High School            0.0  2917.0  1910635.0    78.932039
      Johnson High School         12.0  4761.0  3094650.0    79.053840
      Pena High School             9.0   962.0   585858.0    84.332031
      Rodriguez High School       11.0  3999.0  2547363.0    78.630219
      Shelton High School          2.0  1761.0  1056600.0    83.878641
      Thomas High School          14.0  1635.0  1043130.0    83.542169
      Wilson High School           5.0  2283.0  1319574.0    83.479967
      Wright High School          10.0  1800.0  1049400.0    83.996552
12th  Bailey High School           7.0  4976.0  3124928.0    78.702335
      Cabrera High School          6.0  1858.0  1081356.0    83.782723
      Figueroa High School         1.0  2949.0  1884411.0    79.268116
      Ford High School            13.0  2739.0  1763916.0    78.421150
      Griffin High School          4.0  1468.0   917500.0    83.684932
      Hernandez High School        3.0  4635.0  3022020.0    79.021855
      Holden High School           8.0   427.0   248087.0    83.777108
      Huang High School            0.0  2917.0  1910635.0    78.765812
      Johnson High School         12.0  4761.0  3094650.0    79.045406
      Pena High School             9.0   962.0   585858.0    84.356354
      Rodriguez High School       11.0  3999.0  2547363.0    79.033587
      Shelton High School          2.0  1761.0  1056600.0    83.280323
      Thomas High School          14.0  1635.0  1043130.0    83.664201
      Wilson High School           5.0  2283.0  1319574.0    83.676734
      Wright High School          10.0  1800.0  1049400.0    83.859079
9th   Bailey High School           7.0  4976.0  3124928.0    79.193416
      Cabrera High School          6.0  1858.0  1081356.0    83.385417
      Figueroa High School         1.0  2949.0  1884411.0    78.800818
      Ford High School            13.0  2739.0  1763916.0    78.996999
      Griffin High School          4.0  1468.0   917500.0    82.706601
      Hernandez High School        3.0  4635.0  3022020.0    79.152677
      Holden High School           8.0   427.0   248087.0    83.732283
      Huang High School            0.0  2917.0  1910635.0    79.158768
      Johnson High School         12.0  4761.0  3094650.0    79.224286
      Pena High School             9.0   962.0   585858.0    83.716364
      Rodriguez High School       11.0  3999.0  2547363.0    78.926546
      Shelton High School          2.0  1761.0  1056600.0    83.771698
      Thomas High School          14.0  1635.0  1043130.0    83.659436
      Wilson High School           5.0  2283.0  1319574.0    83.512678
      Wright High School          10.0  1800.0  1049400.0    83.549020

In [106]:
# Calculate the average math score for 9th grade in each school
dog.loc['9th', 'math_score']

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [107]:
# Calculate the average math score for 10th grade in each school
dog.loc['10th', 'math_score']

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [108]:
# Calculate the average math score for 11th grade in each school
dog.loc['11th', 'math_score']

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [109]:
# Calculate the average math score for 12th grade in each school
dog.loc['12th', 'math_score']

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [110]:
# Create table that lists the average reading score for each school of each grade level.
dog

                               Student ID  reading_score  math_score  \
grade school_name
10th  Bailey High School     20365.058918      80.907183   76.996772
      Cabrera High School    16909.487124      84.253219   83.154506
      Figueroa High School    4332.703801      81.408912   76.539974
      Ford High School       36122.879944      81.262712   77.672316
      Griffin High School    12983.711823      83.706897   84.229064
      Hernandez High School   9930.783211      80.660147   77.337408
      Holden High School     23076.342105      83.324561   83.429825
      Huang High School       1450.796610      81.512386   75.908735
      Johnson High School    32467.993480      80.773431   76.691117
      Pena High School       23769.208000      83.612000   83.372000
      Rodriguez High School  28050.171154      80.629808   76.612500
      Shelton High School     6748.301339      83.441964   82.917411
      Thomas High School     38346.368171      84.254157   83.087886
      Wilson High School     14884.930693      84.021452   83.724422
      Wright High School     25122.296296      83.812757   84.010288
11th  Bailey High School     20345.148681      80.945643   77.515588
      Cabrera High School    16955.047718      83.788382   82.765560
      Figueroa High School    4424.478138      80.640339   76.884344
      Ford High School       36212.534143      80.403642   76.918058
      Griffin High School    12983.038781      84.288089   83.842105
      Hernandez High School   9948.641544      81.396140   77.136029
      Holden High School     23046.883495      83.815534   85.000000
      Huang High School       1458.094313      81.417476   76.446602
      Johnson High School    32378.549249      80.616027   77.491653
      Pena High School       23742.605469      84.335938   84.328125
      Rodriguez High School  28048.515905      80.864811   76.395626
      Shelton High School     6742.453883      84.373786   83.383495
      Thomas High School     38345.636145      83.585542   83.498795
      Wilson High School     14855.539232      83.764608   83.195326
      Wright High School     25147.331034      84.156322   83.836782
12th  Bailey High School     20386.724708      80.912451   76.492218
      Cabrera High School    16924.570681      84.287958   83.277487
      Figueroa High School    4414.922705      81.384863   77.151369
      Ford High School       36153.562152      80.662338   76.179963
      Griffin High School    12977.143836      84.013699   83.356164
      Hernandez High School   9978.563966      80.857143   77.186567
      Holden High School     23041.108434      84.698795   82.855422
      Huang High School       1485.035897      80.305983   77.225641
      Johnson High School    32414.657051      81.227564   76.863248
      Pena High School       23733.342541      84.591160   84.121547
      Rodriguez High School  28023.722433      80.376426   77.690748
      Shelton High School     6740.566038      82.781671   83.778976
      Thomas High School     38360.289941      83.831361   83.497041
      Wilson High School     14860.597315      84.317673   83.035794
      Wright High School     25115.626016      84.073171   83.644986
9th   Bailey High School     20344.481481      81.303155   77.083676
      Cabrera High School    16969.634470      83.676136   83.094697
      Figueroa High School    4397.878505      81.198598   76.403037
      Ford High School       36170.595438      80.632653   77.361345
      Griffin High School    13031.305623      83.369193   82.044010
      Hernandez High School   9928.620839      80.866860   77.438495
      Holden High School     23068.314961      83.677165   83.787402
      Huang High School       1445.726303      81.290284   77.027251
      Johnson High School    32399.975714      81.260714   77.187857
      Pena High School       23766.127273      83.807273   83.625455
      Rodriguez High School  28017.408076      80.993127   76.859966
      Shelton High School     6750.615094      84.122642   83.420755
      Thomas High School     38356.793926      83.728850   83.590022
      Wilson High School     14879.667195      83.939778   83.085578
      Wright High School     25152.370588      83.833333   83.264706

                             School ID    size     budget  total_score
grade school_name
10th  Bailey High School           7.0  4976.0  3124928.0    78.951977
      Cabrera High School          6.0  1858.0  1081356.0    83.703863
      Figueroa High School         1.0  2949.0  1884411.0    78.974443
      Ford High School            13.0  2739.0  1763916.0    79.467514
      Griffin High School          4.0  1468.0   917500.0    83.967980
      Hernandez High School        3.0  4635.0  3022020.0    78.998778
      Holden High School           8.0   427.0   248087.0    83.377193
      Huang High School            0.0  2917.0  1910635.0    78.710561
      Johnson High School         12.0  4761.0  3094650.0    78.732274
      Pena High School             9.0   962.0   585858.0    83.492000
      Rodriguez High School       11.0  3999.0  2547363.0    78.621154
      Shelton High School          2.0  1761.0  1056600.0    83.179688
      Thomas High School          14.0  1635.0  1043130.0    83.671021
      Wilson High School           5.0  2283.0  1319574.0    83.872937
      Wright High School          10.0  1800.0  1049400.0    83.911523
11th  Bailey High School           7.0  4976.0  3124928.0    79.230616
      Cabrera High School          6.0  1858.0  1081356.0    83.276971
      Figueroa High School         1.0  2949.0  1884411.0    78.762341
      Ford High School            13.0  2739.0  1763916.0    78.660850
      Griffin High School          4.0  1468.0   917500.0    84.065097
      Hernandez High School        3.0  4635.0  3022020.0    79.266085
      Holden High School           8.0   427.0   248087.0    84.407767
      Huang High School            0.0  2917.0  1910635.0    78.932039
      Johnson High School         12.0  4761.0  3094650.0    79.053840
      Pena High School             9.0   962.0   585858.0    84.332031
      Rodriguez High School       11.0  3999.0  2547363.0    78.630219
      Shelton High School          2.0  1761.0  1056600.0    83.878641
      Thomas High School          14.0  1635.0  1043130.0    83.542169
      Wilson High School           5.0  2283.0  1319574.0    83.479967
      Wright High School          10.0  1800.0  1049400.0    83.996552
12th  Bailey High School           7.0  4976.0  3124928.0    78.702335
      Cabrera High School          6.0  1858.0  1081356.0    83.782723
      Figueroa High School         1.0  2949.0  1884411.0    79.268116
      Ford High School            13.0  2739.0  1763916.0    78.421150
      Griffin High School          4.0  1468.0   917500.0    83.684932
      Hernandez High School        3.0  4635.0  3022020.0    79.021855
      Holden High School           8.0   427.0   248087.0    83.777108
      Huang High School            0.0  2917.0  1910635.0    78.765812
      Johnson High School         12.0  4761.0  3094650.0    79.045406
      Pena High School             9.0   962.0   585858.0    84.356354
      Rodriguez High School       11.0  3999.0  2547363.0    79.033587
      Shelton High School          2.0  1761.0  1056600.0    83.280323
      Thomas High School          14.0  1635.0  1043130.0    83.664201
      Wilson High School           5.0  2283.0  1319574.0    83.676734
      Wright High School          10.0  1800.0  1049400.0    83.859079
9th   Bailey High School           7.0  4976.0  3124928.0    79.193416
      Cabrera High School          6.0  1858.0  1081356.0    83.385417
      Figueroa High School         1.0  2949.0  1884411.0    78.800818
      Ford High School            13.0  2739.0  1763916.0    78.996999
      Griffin High School          4.0  1468.0   917500.0    82.706601
      Hernandez High School        3.0  4635.0  3022020.0    79.152677
      Holden High School           8.0   427.0   248087.0    83.732283
      Huang High School            0.0  2917.0  1910635.0    79.158768
      Johnson High School         12.0  4761.0  3094650.0    79.224286
      Pena High School             9.0   962.0   585858.0    83.716364
      Rodriguez High School       11.0  3999.0  2547363.0    78.926546
      Shelton High School          2.0  1761.0  1056600.0    83.771698
      Thomas High School          14.0  1635.0  1043130.0    83.659436
      Wilson High School           5.0  2283.0  1319574.0    83.512678
      Wright High School          10.0  1800.0  1049400.0    83.549020

In [111]:
# Calculate the average reading score for 9th grade in each school
dog.loc['9th', 'reading_score']

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [112]:
# Calculate the average reading score for 10th grade in each school
dog.loc['10th', 'reading_score']

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [113]:
# Calculate the average reading score for 11th grade in each school
dog.loc['11th', 'reading_score']

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [114]:
# Calculate the average reading score for 12th grade in each school
dog.loc['12th', 'reading_score']

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate